.logo {
    padding: 0.5rem;
    font-size: 3rem;
    font-weight: weight(bold);
    margin-bottom: .3rem;
    
    a {
        color: var(--text--dk);
        border-bottom: .2rem solid $primary--logo;
        @include transition-ease; 

        span {
            color: $primary--logo;
            @include transition-ease;
        }

        &:hover {
            border-bottom: .2rem solid var(--color-hover);

            span {
                color: var(--color-hover);
            }
        }
    }

}