header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;

    .header-wrap {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-btn {
        z-index: 25;
        position: relative;
        height: 20px;
        width: 28px;
        cursor: pointer;
        @include transition-ease;
    
        &__burger {
            position: absolute;
            right: 0;
            top: 0.5rem;
            width: 28px;
            height: 3px;
            background: var(--text--dk);
            @include transition-ease;
    
            &::before {
                content: '';
                position: absolute;
                top: -8px;
                width: 28px;
                height: 3px;
                background: var(--text--dk);
                @include transition-ease;
                
            }
    
            &::after {
                content: '';
                position: absolute;
                top: 8px;
                width: 28px;
                height: 3px;
                background: var(--text--dk);
                @include transition-ease;
            }
        }
    }

    .nav {
        flex: 1 1 100%;
        display: flex;
        position: absolute;
        @include transition-ease;
        
        &__items {
            transform: translateX(-1000px);
            background: var(--primary-color);
            width: 75vw;
            height: 100vh;
            @include transition-ease;
        }
    }
}

.open {
    .menu-btn {
        &__burger {
            transform: rotate(90deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }

            &::after { 
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }

    .nav {
        background: rgba($color: $one, $alpha: .6);
        height: 100vh;
        width: 100vw;
        &__items {
            transform: translateX(0);
        }
    }
}