.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid var(--primary--md);

    &-collapse {
        margin: 0 -1rem;
        @include transition-ease;
        
    
        .navbar-nav {          
            .dropdown {
                margin: 0 -1rem;
                margin-bottom: 1rem;
                
                .dropdown-menu {
                    text-align: center;
                    padding: 1rem;
                    
                    form {
                        .form-control {
                            width: 100%;
                            margin: .5rem 0;
                        }
                    }
                }
            }
            
            .nav-item {
                display: inline-block;
                font-weight: weight(bold);
                font-size: 1.2rem;
                
                .nav-link {
                    @include transition-ease;
                }
            }
        }
    }
}

.bg-greeter {
    background-color: var(--primary--lt);
}

@include media-md {
    .navbar {
        display: flex;
        align-items: center;
        padding: .3rem 5rem;
        &-collapse {
            .navbar-nav {
                margin-left: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;

                .nav-item {
                    display: flex;
                    justify-content: flex-end;
                    flex: 1;
                    min-width: 100px;
                }

                .dropdown {
                    margin: 0;
                }
            }
        }
    }
}

