header {
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--light-grey);
}

.navbar {

    &-collapse {
        margin: 0 -1rem;
        @include transition-ease;

        .navbar-nav { 
            text-align: center;
            display: flex;
            
            .nav-item {
                flex: 1 1 100%;
                display: flex;
                justify-content: center;
                font-weight: weight(bold);
                font-size: 1.2rem;
                
                .nav-link {
                    text-align: center;
                    @include transition-ease;
                }
            }
        }
    }
}

.bg-greeter {
    background-color: var(--primary--lt);
}

@include media-md {
    .navbar {
        display: flex;
        align-items: center;
        padding: 1rem 5rem;
        
        .logo {
            flex: 5;
        }

        &-collapse {
            margin: none;
            flex: 1;

            .navbar-nav {
                margin-right: .5rem;
                margin-left: auto;
                align-items: center;
                justify-content: flex-end;

                .nav-item {
                    display: flex;
                    justify-content: flex-end;

                    .nav-link {
                        font-size: 1rem;
                    }
                }

                .search {
                    display: none;
                }
            }
        }
    }
}

@include media-lg {
    .navbar {
        padding: 1.5rem 10rem;

        &-collapse {
            align-self: flex-start;
        }
    }
}
