.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__panel {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100vw;
        background: var(--secondary-color);
        height: 100%;
        clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
    }

    &__inner {
        margin-top: -25vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-flow: column;
        padding: 1rem;

        * {
            margin: .5rem 0;
        }

        .logo {
            margin: 1rem;   
        }

        a {
            font-weight: weight(bold);
        }
        
        &__login {
            text-align: center;
            display: flex;
            flex-direction: column;

            h2 {
                margin-left: 1rem;
                font-weight: weight(bold);
                display: inline;
                z-index: 3;
                @include transition-ease;
                
                span {
                    font-size: .8rem;
                    &::before {
                        content: '▼';
                    }
                }

                &:hover {
                    color: var(--text--dk);
                    cursor: pointer;
                    background: none;
                }
            }

            form {
                visibility: hidden;
                display: flex;
                flex-direction: column;
                opacity: 0;
                z-index: 2;
                @include transition-ease;

                input {
                    margin: .125rem 0;
                    padding: .5rem;
                    border-radius: 3px;
                    outline: none;
                    box-shadow: none;
                    border: 1px solid var(--primary--md);
                    background-color: none;

                    &:-webkit-autofill {
                        box-shadow: 0 0 30px white inset;
                        -webkit-box-shadow: 0 0 0 30px white inset !important;
                        
                        &:active, &:focus, &:hover {
                            box-shadow: 0 0 30px white inset;
                            -webkit-box-shadow: 0 0 0 30px white inset !important;
                        }
                    }
                }

                button {
                    background: var(--secondary-color);
                    border: none;
                    padding: .75rem 1.5rem;
                    color: var(--primary--lt);
                    border-radius: 5rem;
                    @include transition-ease;

                    &:hover, &:active, &:focus {
                        border: none;
                        background: var(--color-hover);
                        outline: none !important;
                        box-shadow: none !important;
                        cursor: pointer;
                    }
                }
            }

            &.show {

                h2 {
                    span {
                        &::before {
                            content: '▲';
                        }
                    }
                }

                form {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

@include media-lg {
    .hero {
        display: flex;
    
        &__panel {
            flex: 1;
            position: relative;
            clip-path: none;
        }

        &__inner {
            flex: 1;
        }
    }
}