$one: #306880;
$two: #ADE7FF;
$three: #61D0FF;
$four: rgb(14, 19, 20);
$five: #4DA6CC;

$primary--logo: $five;
$secondary--logo: $five;


$font-weight:(
    "thin": 100,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "bolder": 900,
);

@mixin light-theme {
    --primary--lt: #ffffff;
    --primary--md: rgb(177, 207, 228);
    --secondary-color: #44b7ff;
    --light-grey: lightgrey;
    --text--lt: #525d5f;
    --text--dk: #0e1314;
    --color-hover: #338ac1;
}

@function weight($weightname){
    @return map-get($font-weight, $weightname );
};

@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content; 
    }
}

@mixin media-lg {
    @media screen and (min-width: 1000px) {
        @content; 
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content; 
    }
}