@import './resets';
@import './config';
@import './components';

html {
    overflow-x: hidden;
    font-family: sans-serif;
    font-size: 16px;

    #light {
        @include light-theme;
    }

    body {
        overflow-x: hidden;
        background: var(--primary--lt);
        color: var(--text--lt);
    }
}

a {
    color: var(--text--lt);
    text-decoration: none !important;
}

.error {
    margin: 1rem 0;
    color: #aa0000;
}